* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sarabun", sans-serif;
  background-color: rgb(204, 203, 203);
}
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  /* background-color: yellow; */
}
a {
  text-decoration: none;
  color: rgb(0, 140, 255);
}
a:hover {
  text-decoration: underline;
}
/*==========================================================
=>hader Styles
============================================================*/
.site-header {
  background-color: white;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.site-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.site-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: #a5a4a4;
}
.social-icons a {
  font-size: 1rem;
  font-weight: 600;
  color: #a5a4a4;
  border: 1px solid #a5a4a4;
  border-radius: 50%;
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.social-icons a:hover {
  transform: translateY(-6px);
  transition: transform 0.3s ease;
  color: #ffffff;
  background-color: #0059ff;
}

/*==========================================================
        =>Nav Styles
        ============================================================*/
.main-nav {
  background-color: rgb(64, 86, 212);
}
.nav-menu {
  display: flex;
  list-style-type: none;
  /* justify-content: center; */
  /* align-content: center; */
}
.nav-menu li a {
  color: white;
  font-size: 0.9rem;
  display: block;
  padding: 10px 15px;
}
.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: black;
}

/*==========================================================
                =>Hero Styles<=
                ============================================================*/
.hero-content {
  background-color: rgb(31, 29, 29);
  padding: 20px;
  box-shadow: 0 2px 4px rgb(97, 62, 97);
  margin-bottom: 20px;
}
.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 4px;
  text-align: center;
  margin-bottom: 20px;
}
.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}

.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}
/*=========================================================
                      =>Page section<=
============================================================*/
.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.post-list {
  font-size: 0.685rem;
  color: #7a7a7a;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post-header {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-circle {
  background-color: rgb(0, 174, 255);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  color: #ffffff;
  font-size: 0.69rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-circle .day {
  font-size: 1.2rem;
  font-weight: 500;
}

.post-description {
  font-size: 0.82rem;
  color: #797878;
  margin: 10px;
}

.post-footer {
  font-size: 0.68rem;

  border-top: 1px solid rgb(156, 156, 156);
  padding: 10px;

  display: flex;
  gap: 8px;
}

/* left Side */

.card {
  color: #000;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

.card + .card {
  margin-top: 20px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* css for card 1 = image */
.post-image {
  height: 300px;
  margin: 10px 0;

  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

/* css for card 2 table */

.comparison-tb {
  color: #000;
  box-shadow: 0 2px 8px black;
  /* border: 1px solid #000; */
  /* border-collapse: collapse; */
}

/* .comparison-th,th,
.comparison-th,td{
  border: 1px solid #000;
} */

/* .comparison-tb thead {
  background-color: #1e8bc3;
  color: #ffffff;
} */

.comparison-tb th {
  background: linear-gradient(
    45deg,
    rgb(0, 225, 255) 0%,
    rgb(255, 238, 0) 100%
  );
  color: #ffffff;
  padding: 15px;
}

.comparison-tb tr:nth-child(even) td {
  background-color: rgb(145, 248, 243);
  padding: 15px;
}
.comparison-tb tr:hover td {
  background-color: #acdae2;
  padding: 15px;
}

.comparison-tb td {
  background-color: rgb(137, 247, 143);
  padding: 15px;
}

.feature {
  font-weight: 600;
  color: #000000;
  font-size: 0.8rem;
}
.txt-gray {
  font-weight: 500;
  color: #4b4848;
  font-size: 0.8rem;
}
.txt-green {
  font-weight: 500;
  color: #029102;
  font-size: 0.8rem;
}
.txt-red {
  font-weight: 500;
  color: #ff0000;
  font-size: 0.8rem;
}

/*=========================================================
          =>Set style for Form : Left Side <=
============================================================*/
.contact-from-main-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgb(4, 0, 255);
  box-shadow: 0 2px 8px bisque;
  margin-top: 15px;
  box-shadow: 0 2px 8px #2bffae;
}

.form-label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #002fff;
  margin: 5px;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
}
.contact-from-main-card .form-input,
.contact-from-main-card .form-select,
.contact-from-main-card .form-textarea {
  background-color: #f0f0f0;
  color: #464646;
  border: 2px solid #ccc;
}
.contact-from-main-card .form-input:focus,
.contact-from-main-card .form-select:focus,
.contact-from-main-card .form-textarea:focus {
  outline: none;
  background-color: #fcfcfc;
  border-color: #0059ff;
  box-shadow: 0 0 0 1.5px #2bffae;
  transform: translateY(-1);
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-textarea {
  min-height: 100px;
  resize: vertical;
}

.form-checkbox-group {
  display: flex;
  gap: 20px;
}

.checkbox-item {
  font-size: 0.82rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-item input[type="checkbox"] {
  accent-color: orange;
  transform: scale(1.25);
}

.form-button {
  width: 100%;
  padding: 12px 30px;
  /* background-color: #142aee; */
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
}

.submit-button {
  background: linear-gradient(45deg, rgb(17, 0, 255) 0%, rgb(0, 162, 255) 100%);
}
.submit-button:hover {
  opacity: 0.78;
}

.reset-button {
  background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 0, 98) 100%);
}
.reset-button:hover {
  opacity: 0.78;
}

/* Right Side */

.widget {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}
.widget + .widget {
  margin-top: 20px;
}

.contact-from-right-main-card {
  /* background-color: #d2ffd2; */
  background: linear-gradient(45deg, rgb(0, 146, 24) 0%, rgb(51, 255, 0) 100%);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgb(30, 255, 0);
  box-shadow: 0 2px 8px bisque;
  margin-top: 15px;
  box-shadow: 0 2px 8px #6eff2b;
}

.contact-from-right-main-card .form-input,
.contact-from-right-main-card .form-select,
.contact-from-right-main-card .form-textarea {
  background-color: #f0f0f0;
  color: #464646;
  border: 2px solid #ccc;
}
.contact-from-right-main-card .form-input:focus,
.contact-from-right-main-card .form-select:focus,
.contact-from-right-main-card .form-textarea:focus {
  outline: none;
  background-color: #fcfcfc;
  border-color: #0059ff;
  box-shadow: 0 0 0 1.5px #2bffae;
  transform: translateY();
}

.submit-button-right {
  background: linear-gradient(45deg, rgb(146, 88, 0) 0%, rgb(255, 153, 0) 100%);
}
.submit-button-right:hover {
  opacity: 0.78;
}

.form-label-right {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000000;
  margin: 5px;
}

.contact-from-right-main-card2 {
  /* background-color: #d2ffd2; */
  background: linear-gradient(45deg, rgb(0, 34, 146) 0%, rgb(0, 89, 255) 100%);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgb(30, 255, 0);
  box-shadow: 0 2px 8px bisque;
  margin-top: 15px;
  box-shadow: 0 2px 8px #6eff2b;
}

.contact-from-right-main-card2 .form-input,
.contact-from-right-main-card2 .form-select,
.contact-from-right-main-card2 .form-textarea {
  background-color: #f0f0f0;
  color: #464646;
  border: 2px solid #ccc;
}
.contact-from-right-main-card2 .form-input:focus,
.contact-from-right-main-card2 .form-select:focus,
.contact-from-right-main-card2 .form-textarea:focus {
  outline: none;
  background-color: #fcfcfc;
  border-color: #0059ff;
  box-shadow: 0 0 0 1.5px #2bffae;
  transform: translateY();
}
.form-label-right2 {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  margin: 5px;
}
