/* Global CSS Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.LgrO9GVKZyaeOp9dM3p43QHaEJ?rs=1&pid=ImgDetMain&o=7&rm=3);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(228, 217, 219);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 220px;
}

/* Container Styles */

.container {
  max-width: 1200px;
  margin: 220px auto 40px;
}

/* Share CSS */
code {
  background-color: rgb(204, 204, 204);
  border-radius: 4px;
  padding: 2px 4px;
}

pre {
  background-color: rgb(255, 245, 226);
  padding: 20px;
  border-left: #ff1bd9 5px solid;
  font-size: 16px;
}

.badge {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  padding: 10px 15px;
  color: #02129e;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}

.card {
  background-color: aliceblue;
  padding: 20px 40px;
  border-radius: 15px;
  border-top: 4px solid #c900a7;
  box-shadow: 0 4px 8px red;
  margin: 40px 0px;
}

.note {
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* Group1 : Header Styles */
header {
  background-color: rgb(230, 230, 230);
  padding: 20px;
  box-shadow: 2px 2px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.list-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.list-menu li {
  margin-top: 15px;
}

.list-menu li:hover {
  transform: translateY(-6px);
  transition: transform 0.3s ease;
}

.list-menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(135deg, rgb(247, 174, 79), rgb(255, 159, 159));
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  padding: 8px 16px;
  border-radius: 12px;
}

h1 {
  color: #ff0000;
}

.list-menu a:hover {
  background: linear-gradient(135deg, rgb(247, 79, 79), rgb(255, 0, 0));
}

/* Group2 : */
.img-small {
  width: 100px;
  height: 100px;
}

.postition {
  display: flex;
  align-items: center;
  border: 2px dashed rgb(105, 104, 104);
  margin: 15px;
}

.postition.left {
  justify-content: flex-start;
}

.postition.container {
  justify-content: center;
}

.postition.right {
  justify-content: flex-end;
}

/* Group3 : */
.img-fixed {
  width: 260px;
  height: 160px;
  object-fit: cover;
  margin-top: 15px;
}

/* Group4 : */

.obj-fit-image {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

.obj-fit-image.contain {
  object-fit: contain;
}

.obj-fit-image.fill {
  object-fit: fill;
}

.obj-fit-image.cover {
  object-fit: cover;
}

/* Group5 : */
.img-youtube img {
  width: 260px;
  border-radius: 15px;
  margin: 15px 0;
  transition: 0.3s;
}

.img-youtube img:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgb(124, 124, 124);
}

/* Group6 : */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.gallery img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

/* Group7 : */
/* Group8 : */
Figure {
  text-align: center;
}

/* Group9 : */
.bg-image {
  background-image: url("../images/youtube.png");
}

/* Group10 : */
.back-link {
  color: rgb(0, 17, 255);
  text-decoration: none;
  background-color: #55fae4;
  display: block;
  text-align: center;
  border-top: 4px solid #268bff;
  box-shadow: 0 4px 8px rgb(225, 0, 255);

  padding: 4px 24px;
  border-radius: 12px;
}

.back-link:hover {
  color: red;
  text-decoration: underline;
  background-color: #70fa55;
  border-top: 4px solid #1400c9;
  box-shadow: 0 4px 8px rgb(0, 174, 255);
}
